---
layout: front
title: Blog Posts
---
<section id="index-head">
  <h3>About this blog</h3>
  <p>After some years of entrepreneurship, I wanted to start sharing some things I learned. Some are just bits of data I extracted from a particular problem, others are more in-depth analysis of technical or business problems. There's a bit of everything, half for my later self to remember, and half for whomever may find it of use.</p>
  <p>Welcome to my blog!</p>
  <p style="text-align:right">Sebastien DUMETZ</p>
</section>
<section id="posts-index">
{% for post in site.posts %}
    {% include post_abstract.html content=post %}
{% endfor %}
</section>
