/*
Colors :
  Main : #FF5722
  Accent : #FF5252
*/
body{
  font-family:"Roboto","Helvetica","Arial",sans-serif
}
@media (min-width:1200px){
  .content{
    display:flex;
    flex-direction: column;
    align-items: center;

  }
  .content>div.grid{
    width:1200px;
     margin: auto;
  }
}

h1{
  color:#FF5722;
}
h3{
  color: #FF5252;
}
h4{
  color: #FF5252;
  margin:0;
  padding-top:15px;
}
a{
  color:#FF5722;
}
.print-only{
  display:none;
}
.footer{
  margin-top:25px;
  padding:15px 0 15px 0;
  background-color:#FF5722;
  color:white;
}
.footer a{
  color:white;
}
.main-content{
  padding: 0 15px 0 15px;
}

.in{
  display:none;
}

#business-card{
  display:flex;
  align-items: stretch;
  padding-top:15px;
}

#business-picture{
  margin-left: auto;
  width:120px;
  background:url('/data/ID.png') no-repeat center / cover;
}

#business-infos{
  padding: 0 15px 0 15px;
}

.icon-line>.material-icons{
  vertical-align: middle;
  color:#FF5722;
}
.box{
  padding:15px 20px 15px 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.events{
  display:block;
}

.event-line{
  width:100%;
  display:flex;
  align-items: stretch;
  align-content:stretch;
  padding:10px 0 0 0;
}

.event-date{
  width:10%;
  min-width:80px;
  padding:15px 20px 15px 20px;
  background-color:#FF5252;
  color:white;
  font-weight:bold;
  align-self: center;
  text-align:right;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.event-separator{
  padding:15px 5px 15px 10px;
  color:#FF5252;
  align-self: center;
}
.event-main{
  width:80%;
  padding: 5px 10px 5px 10px;
}
.event-title{
  display:block;
  font-size:1.2em;
  color:#FF5252;
}
.skills{

}
.skill{
  padding:5px 0 0 0;
}
.skill-name{
  font-weight:bold;
}
.skill-progress{
  stroke:#FF5252;
}
.rs div{
  background-repeat: no-repeat;
  background-size: 24px 48px;
  background-position: 0px 0px;
  transition: 200ms;
  transition-timing-function: ease-out;
  width: 24px;
  height: 24px;
  display: inline-block;
  float: right;
  margin-right: 3px;
}
.rs div:hover{
  background-position: 0px -24px;
}

.key{
  display:flex;
  flex-grow:1;
}
.key.active{
  flex-grow:4;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.mdl-card{
  background: #FF5722;
  width:100px;
  height:150px;
  flex-grow:1;
}
.key-panel{
  display:flex;
  flex-flow: row-reverse;
  justify-content:space-between;
  align-content: stretch;
  flex-wrap:nowrap;
  overflow:hidden;
  width:0;
  flex-grow:0;
  height:150px;
  padding:0px;
  transition: width 0.3s ease-out;
}
.key.active .key-panel{
  width:300px;
  flex-grow:2;
}
.key-text{
  padding:10px;
}
.key-close{
  display:flex;
  align-self: stretch;
  background: #FF5252;
  padding:5px;
  cursor:pointer;
}
.key-close>i{
  align-self:center;
  color: #FFFFFF;
  width:100%;
}
.mdl-card__actions {
  position:relative;
  margin-top:100px;
  padding: 5px;
  height:40px;
  bottom:0px;
  left:0px;
  color:white;
  font-size:1.1em;
  background: rgba(0, 0, 0, 0.3);
  cursor:pointer;
}

.mdl-card__title {
  align-items: flex-start;
}
.mdl-card__title > h4 {
  margin-top: 0;
  padding:0;
  color:#FF5722;
  font-weight:bold;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.2);
}
.textblock{
  padding-right: 10px;
}
.textblock-icon{
  float:left;
  width:48px;
  height:48px;
  fill:#FF5252;
}
