/*
Colors :
  Teal : #009688
  Indigo : #3F51B5
*/
h3{
  color: #3F51B5;
}
h4{
  color: #009688;
  margin:0;
}
#business-card{
  display:flex;
  align-items: stretch;
}

#business-picture{
  margin-left: auto;
  width:120px;
  background:url(/data/ID.png) no-repeat left center;
}

#business-infos{
  padding: 0 15px 0 15px;
}

.icon-line>.material-icons{
  vertical-align: middle;
}
.skills{
  display:block;
}

.skill-line{
  width:100%;
  display:flex;
  align-items: stretch;
  align-content:stretch;
  padding:10px 0 0 0;
}

.skill-date{
  width:10%;
  min-width:100px;
  padding:15px 20px 15px 20px;
  background-color:#009688;
  color:white;
  font-weight:bold;
  align-self: center;
  text-align:right;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.skill-separator{
  padding:15px 5px 15px 10px;
  color:#009688;
  align-self: center;
}
.skill-main{
  width:80%;
  padding: 5px 10px 5px 10px;
}
.skill-title{
  display:block;
  font-size:1.2em;
  color:#009688;
}
