<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Sebastien Dumetz">
    {% if page.title %}
      <title>Sebastien Dumetz | {{page.title}}</title>
      <meta property="og:title" content="{{page.title}}"/>
      {% if page.excerpt %}
        <meta name=”description” content="{{page.excerpt | strip_html | truncatewords:155}}">
        <meta property="og:description" content="{{page.excerpt | strip_html | truncatewords:297}}"/>
        <meta property="og:type" content=”article”/>
      {% else %}
        <meta name="description" content="{{page.title}}">
      {% endif %}
    {% else %}
      <title>Sebastien Dumetz | Blog</title>
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image" content="{{site.url}}/{{page.image}}">
      <meta property="og:image" content="{{site.url}}/{{page.image}}"/>
    {% endif %}
    <link rel="alternate" type="application/atom+xml" href="https://sdumetz.github.io/feed.xml" title="Sebastien Dumetz Atom feed">
    {% include scripts.html %}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
      <header class="mdl-layout__header mdl-layout__header--scroll navbar">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Sebastien Dumetz</span>
          <a class="mdl-navigation__link" href="/">Home</a>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">

          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title ">Sebastien Dumetz</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
        </nav>
      </div>
      <div class="ribbon">
      </div>
      <main class="mdl-layout__content site-content">
        {{content}}
      </main>
      <footer class="mdl-mini-footer mdl-color--accent">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo ">Sebastien Dumetz 2015 - 2016</div>
            <ul class="mdl-mini-footer__link-list">
              <li>All content is under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC. Attribution ShareAlike</a></li>
           </ul>
         </div>

         <div class="cell" style="width:200px;flex-grow:1;text-align:center;font-weight:bold"></div>
         <div class="cell" style="width:300px;flex-grow:3" >

         </div>
       </footer>
    </div>

  </body>
</html>
