---
layout: default
---
<div class="ribbon">
</div>
<main class="mdl-layout__content main-content">
  <div class="container mdl-grid">
    <div id="site-content" class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--2-offset-desktop mdl-cell--6-col mdl-cell--8-col-tablet">
      <h1 style="text-align:center">{{page.title}}</h1>
      {{content}}
    </div>
    <div class=" site-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--2-col mdl-cell--top">
      <div>
        <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
          <img class="mdl-chip__contact" src="/data/ID.png"></img>
          <span class="mdl-chip__text">Sebastien Dumetz</span>
        </span>

        <p>Co-founder of <a href="http://holusion.com">holusion</a>, Product manager. I create new hardware and software tools to change digital user experience.</p>
      </div>

    </div>
  </div>
</main>
